@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fffafa;

}

.smallimage{
    display: block;
    width: 100px;
    border-radius: 3%;
    position: static;
    z-index: 1;

}
.smallimage1{
    display: block;
    width: 25px;
    margin-top: 51px;
}

.smallimage2{
    display: block;
    width: 300px;
    margin-top: 3px;
}

.smallimage3{
    display: block;
    width: 45px;
    border-radius: 30%;
    padding: 5px;
    border: 4px solid #4b9fe1;

    
}
.smallimage31{
    display: block;
    width: 45px;
    border-radius: 30%;
    padding: 5px;
    border: 4px solid #4b9fe1;
    margin-left: 670px;
    
}


.smallimage4{
    display:block;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin-top: 50px;
   
}

.middleimage1{
    display: block;
    width: 350px;
    border: 1px solid #a6a6a6;
    margin-left: 30px;
    background-repeat: no-repeat;
}


/*header*/
.main-header{
    display: flex;
    min-width: 80%;
    min-height: 50px;
    background-color: #4b9fe1;
    background-image: linear-gradient(to right, rgba(0,0,255),rgba(0,153,230));
    padding: 20px 35px;
    margin: 0 42px 55px 57px;
    position: fixed;
    border-radius: 6px;
    border: 1px solid #0099e6;

    
}

.main-nav li{
    font-family:"Arial",sans-serif;
    font-size: 15px;
    width: 97px;
    text-align: center;
    margin-left: 70px;
    padding: 4px;
    float: left;
    position: relative;
    background-color: #b0c4de;
    

    
}


.main-nav{
    border-radius: 2px;
    margin-top: 4px;
    position: fixed;
     
  
}

ul{
    list-style-type: none;
    width: 82%;
    padding: 2px;
       
}

li a{
     display: block;
     padding: 2px;

     
    
}


a:hover{
    background-color: #28559a;
    
    
}


/*dropdown*/

.dropdown{
    position: relative;
    margin: 0 auto;
}

.dropdown:after{
    content: "\25BC";
    font-size: 8px;
    position: absolute;
    top: 40%;
    right: 2%;
    color: #1e90ff;
}
.drop-nav{
    position: absolute;
    display: none;
    margin: 0 auto;
    padding: 2px;
   
}

.drop-nav1{
    position: absolute;
    display: none;
    margin: 0 auto;
    padding: 2px;

    
}
.drop-nav li{
    border-bottom: 1px solid #000080;
    list-style-type: none;
    
}

.drop-nav1 li{
    border-bottom: 1px solid #000080;
    list-style-type: none;
    
}


.dropdown:hover
.drop-nav1{
    display: block;
}
.dropdown:hover
.drop-nav{
    display: block;
}

/*h1-h6*/

h1{
    font-family:"Arial",sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 25px;
   
      
}

h2{
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #4682b4;
    font-size: 25px;
    margin: 35px;
    
}


h3{
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #778899;
    background-image: linear-gradient(to left,rgba(181,181,181),rgba(102,102,102));
    font-size: 25px;
   margin-top: 118px;
    
    
    
}

h4{
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #778899;
    background-image: linear-gradient(to left,rgba(181,181,181),rgba(102,102,102));
    font-size: 25px;
    margin: 55px;
    width: 300px;
    
    
}


/*imagediv*/

.image{
    display: block;
    margin-left: 145px;
    width: 800px;
}


/*INDEX-X*/

.resource2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 55px;
}

.itemX{
    background-color: #ffffff;
    

   
}
.b1{
    grid-column: span 6;
}

.log{
    grid-column: span  4 /-2;
}

/*ICON*/

.icon1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5,0.01fr);
    
    
}

.itemU{
    grid-column: span 1;
    
}


/*videoReddit*/

/*dropdown menu*/

.barred1{
    display: flex;
    position: fixed;
    width: 180px;
    height: 300px;
    padding: 0 2px;
    margin: 109px 15px 35px 50px;
    background-color: #4682b4;
    background-image: linear-gradient(to right,rgba(8,30,102),rgba(10,110,168));
    text-align: left;    
    border-radius: 5px;
    
    
}



.container2{
    display: block;
    font-family: "Arial",sans-serif;
    font-size: 25px;
    color: #2e2e2e;
    text-align: center;
    text-decoration: none;
    margin: 25px;
    padding: 2px;
    
}

p{
    font-family: sans-serif;
    font-size: 20px;
    color: #000080;
    padding: 15px;
    text-decoration: none;
    
}

.para1{
    font-family: fantasy;
    font-size: 40px;
    color: #000080;
    text-align: center;
}

.para2{
    font-family:"Arial", sans-serif;
    font-size: 20px;
    color: #708090;
    font-weight: 400;
    text-align: left;
    padding: 15px;

    
}

.para4{
    font-family:"Arial", sans-serif;
    font-size: 20px;
    color: #2e2e2e;
    text-align: center;
    padding: 15px;
    
}

.para3{
    font-family:"Arial", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    padding: 5px;
    background-color: #4682b4;
    background-image: linear-gradient(to left,rgba(8,30,102),rgba(10,110,168));
    
}

.para5{
    font-family:"Arial", sans-serif;
    font-size: 12px;
    color: #0000ff;
    text-align: center;
    padding: 5px;
    margin-left: 15%;
}


ol{
    list-style-type: lower-latin;
    font-size: 20px;
    color: blue;
    
}

/*grids SMlinks home page */

.grid0{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    margin: 35px;
    justify-content: center;
   

}

.grid1{
    background-color: #4682b4;
    background-image: linear-gradient(to right,rgba(8,30,102),rgba(10,110,168));
    grid-column: span 1;
    grid-row: span 3;
     border-radius: 3px;  
  
}

.litem{
    grid-row: span -11;
    grid-column: span  -10;
}


.grid01{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,25px);
    margin: 35px;
}

.item1{
    background-color: #fffff0;
    
}

/*footer*/

.footer{
    font-family:"Arial",sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #b5b5b5;
    background-image: linear-gradient(to left,rgba(181,181,181),rgba(212,212,212),rgba(102,102,102));
    margin: 45px;
    width: 85%;
    padding: 5px;
    border-radius: 3px;
}


/*form style*/

fieldset{
    background-color: #b0c4de;
    background-image: linear-gradient(to right,rgba(89,178,255),rgba(10,110,168));
    margin-left: 250px;
    padding: 10px;
    margin-bottom: 1px;
    border: 2px double #d4d4d4;
    border-radius: 3px;
    width: 400px;
    
}

input[type=text]{
    width: 100px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    font-size: 15px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    padding: 1px;
    margin-top: 18px;
    margin-left: 83%;
    
}

button{
    background-color: #6495ed;
    border-radius: 4px;
    width: 99px;
}

legend {
     font-size: 0.85em;
     font-family: "Arial",sans-serif;
     color: #00008b;
     background-color: #6495ed;
     padding: 3px 7px;
     border: 1px solid #a6a6a6;
     border-radius: 5px;
     font-weight: 300;
}

label{
    font-family: "Arial",sans-serif;
    font-size: 12px;
    color: #000080;
    font-weight: 300;
    border-radius: 4px;
}

#country{
    padding: 3px;
    margin-left: 72px;
    border-radius: 4px;
}


#firstname{
    margin-top: 1px;
    margin-left: 2px;
    padding: 2px;
    border-radius: 4px;
}

#lastname{
    margin-left: 2px;
    padding: 2px;
    margin-top: 5px;
    border-radius: 4px;
}



#dob{
    margin-top: -2px;
    margin-left: 2px;
    border-radius: 4px;
}
#age{
    margin-left: 122px;
    width: 40px;
    border-radius: 4px;
}

#email{
    margin-left: 30px;
    padding: 1px;
    border-radius: 4px;
}

#tel{
    margin-left: 26px;
    padding: 1px;
    border-radius: 4px;
}

#password{
    margin-left: 7px;
    padding: 1px;
    margin-bottom: 2px;
    border-radius: 4px;
}

select{
    margin-left: 23px;
    margin-top: -4px;
    margin-right: 125px;
    border-radius: 4px;
}


#media{
    margin-left: 125px;
}


#wlus{
    margin-left: 125px;
}

#slack1{
    margin-left: 125px;
}

#red{
    margin-left: 125px;
}

#tum{
    margin-left: 125px;
}

#tik{
    margin-left: 125px;
}

#comments{
    border-radius: 4px;
}

/*userdata*/

.results{
    margin: 45px;
    color: #696969;
    font-size: 15px;
    font-family: "Arial",sans-serif;
    text-decoration: none;
}




/*section Reddit*/
/*intro*/
.intro1{
    display: block;
    margin: 25px 45px 55px 360px;
    padding: 15px;
    background-color: #f0f8ff;
    width: 50%;
}

.gridR{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-left: 235px;
    
}

.grid11{
    background-color: #fffff0;
    grid-column: span 1;
    
}
.gridr1{

    grid-column: 2 / 3;
    
}


.itemreg4{
    grid-column: 2 / -4;
}
.itemreg3{
    grid-column: 2 / -3;
}

.gridR1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr, 1fr;
    margin-top: 20px;
    
    
}
.grid2{
    grid-column: span 2;
    
}



/*section*/
section{
    display: inline-block;
    margin-left: 100px;
    background-color: #f0ffff;
    margin-top: 50px;
    
    
}

article{
    display: inline-block;
    margin-left: 400px;
    padding: 10px;
    margin-top: 60px;
    
}

/*nav -yes*/


nav a{
    list-style-type: none;
    display: block;
    text-decoration: none;
    padding: 10px 5px 15px 25px;
    margin: 0 auto;
    color: #faebd7;
       
       
}


/*caution reddit*/

.gridcaured{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-left: 250px;
    
}

.item{
    grid-column: span 2;
   
}

.gridtechR{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr); 
    margin-left: 239px;
    
}
.item0{
    grid-column: span 2;
    
}

.item01{
    grid-column: span 2;
}


.griduseR{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 300px;
    margin-left: 300px;
}


.itemr1{
    grid-column: span 2;
}
   




/*Resource*/

.resource1{
    display: inline-block;
    font-family:"Arial", sans-serif;
    font-size: 25px;
    padding: 25px;
    margin-top: 125px ;
    margin-left: 200px;
    background-color: #1e90ff;
}

/*contact*/
.resource1c{
    display: inline-block;
    padding: 25px;
    margin-top: 125px;
    
}
/*grid About page*/

.resource3{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin: 35px;
    

}

.itemabout{
    grid-column: span 1;
}
/*------*/



.resource4{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,200px 1fr);
    justify-content: center;
    margin: 25px;
}
.res0{
    grid-column:  span 2;
    
}


/*reddit dropdown*/

.reddit1{
    font-family:"Arial", sans-serif;
    font-size: 18px;
    color: #00ffff;
    text-align: left;
    
}


/*slack*/
.slack1{
    font-family:"Arial", sans-serif;
    font-size: 18px;
    color: #00ffff;
    text-align: left;
   
}


/*linkedIn*/

.link1{
    font-family:"Arial", sans-serif;
    font-size: 18px;
    color: #00ffff;
    text-align: left;
    
    
}
    

/*tiktok*/


.tik11{
    font-family:"Arial", sans-serif;
    font-size: 18px;
    color: #00ffff;
    text-align: left;
    
    
}

/*Tumblr*/

.tum1{
    font-family:"Arial", sans-serif;
    font-size: 18px;
    color: #00ffff;
    text-align: left;
    
    
}

.tumblr1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin: 40px;
}

.tul01{
    
    grid-column: span 2 / 4;
    
    
}



/*TIKTOK*/

.tiktok1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    margin-left: 200px;
   
    
}

.tik1{
    background-color: #fffff0;
    grid-column: span 2 / 4;
   
    
}
.tik2{
    background-color: #fffff0;
    grid-column: span 2 / 5;
    
}


/*SLACK*/

.slack2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    margin: 55px 45px;
    
}

.sl1{
    background-color: #fffff0;
    grid-column: span 2 / -3;
}


/*Linkedin*/


.link2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-left: 300px;
}

.li1{
    background-color: #fffff0;
    grid-column: span 2 / -3;
}

.link3{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin-left: 300px;
}
.li2{
    background-color: #fffff0;
    grid-column: span 2 / -2;
}

.middleimage{
    display: block;
    width: 600px;
}

/*#wlus*/

.about11{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin:45px;
}

.ab1{
    background-color: #fffff0;
    grid-column: span 1;
}


/*video*/

video{
    width: 70%;
    height: auto;
    margin: 40px;
}

/*animation*/

#anim{
    width: 70%;
    height: 90px;
    background-color: darkblue;
    animation-name: logo;
    animation-duration: 5s;
    margin: 95px;
    
}

@keyframes logo{
    0%{background-color: blue;}
    25%{background-color: skyblue;}
    30%{background-color: blanchedalmond;}
    40%{background-color: darkslateblue;}
}


#gsearch{
    position: absolute;
    right: 20px;
    top: 2px;
    width: 100px;
    display: block;
}
