@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fffafa;
    
                    
}
.smallimage2{
    display: block;
    width: 100px;
}

.smallimage3{
    display: block;
    width: 150px;
    float: right;
    border-radius: 4px;
    
    
}
.smallimage4{
    display: block;
    width: 150px;
    
}

#smallimage{
    display: block;
    width: 300px;
    border-radius: 15%;
    position: absolute;
    z-index: 2;
}

.main-header{
    display: block;
    min-width: 95%;
    height: 20px;
    background-color: #fffafa;
    padding: 20px 30px;
    margin: 0 auto;
    position: fixed;
    border-bottom: 4px double #dd00ad;
    border-top: 12px double #dd00ad;

    
    
}


.main-nav{
    border-radius: 2px;
    margin-top: 4px;
    position: fixed;
  
     
  
}


ul{
     list-style-type: none;
     margin-left: 75%;
     margin-top: -90px;
  
   
}
     

li a{
     display: block;
     padding: 8px;
     float:left;
    
}


.para2{
    font-family:"Arial", sans-serif;
    font-size: 20px;
    color: #708090;
    font-weight: 400;
    text-align: left;
    padding: 15px;
    text-decoration: underline;
    

    
}

.about11{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 55px;
}

.ab1{
    grid-column: span 2 / 4;
  
}

.alus{
    grid-column-start: span 4;
}

.icon1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    margin: 50px;
    background-color: blueviolet;
    background-image: linear-gradient(to right,rgba(125,34,119),rgba(105,28,100),rgba(189,51,180));
        
}
.itemU{
   
    grid-column: span 1;
}


.icon2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    margin: 50px;
    
}

.itemU1{
    grid-column: span 1;
}
.footer{
    font-family: sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #a6a6a6;
    margin: 35px;
    width: 95%;
    min-height: 25px;
    padding: 5px;
}

section{
    display: inline-block;
    margin: 70px 10px 15px 200px;
    padding: 5px;
   
    
}

ol{
    list-style-type: circle;
    color: #708090;
    font-size: 25px;
    font-family: cursive;
    margin: 35px;
    
    
}


h3{
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #707090;
    font-size: 25px;
    margin: 55px;
    
    
}

h1{
    font-family: fantasy;
    font-size: 35px;
    color: #778899;
    font-weight: 200;

}
.smallimage1{
    display: block;
    width: 25px;
    margin: 35px;
}



.containerW{
    display: block;
    width: 95%;
    background-color: #da70d6;
    background-image: linear-gradient(to left,rgba(148,40,141),rgba(255,69,243));
    padding: 3px 6px;
    margin: 35px 45px;
    position: relative;
}



/*sign in form*/

/*form style*/


fieldset{
    background-color: #c0c0c0;
    background-image: linear-gradient(to right,rgba(102,102,102),rgba(212,212,212));
    margin-left: 450px;
    padding: 10px;
    margin-bottom: 1px;
    border: 2px double #d4d4d4;
    border-radius: 3px;
    width: 400px;
    
}

button{
    background-color: #ffb6c1;
}

legend {
     font-size: 0.85em;
     font-family: "Arial",sans-serif;
     color: #778899;
     background-color: #ffb6c1;
     padding: 3px 7px;
     border: 1px solid #778899;
     border-radius: 5px;
    font-weight: 300;
}

label{
    font-family: "Arial",sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
}

#country{
    margin-left: 80px;
    margin-bottom: 15px;
}



#firstname{
    margin-top: 1px;
    margin-left: 0px;
    padding: 2px;
}

#lastname{
    margin-left: 0px;
    padding: 2px;
    margin-top: 5px;
}





input[type=text]{
    width: 100px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    font-size: 15px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    padding: 2px;
    margin-top: 18px;
    margin-left: 83%;
}

#email{
    margin-left: 30px;
    padding: 1px;
    border-radius: 4px;
}

#tel{
    margin-left: 26px;
    padding: 1px;
    border-radius: 4px;
}

#password{
    margin-left: 7px;
    padding: 1px;
    margin-bottom: 2px;
    border-radius: 4px;
}



#age{
    margin-left: 119px;
    width: 40px;
    border-radius: 4px;
}


#dob{
    margin-top: -2px;
    margin-left: 10px;
}

select{
    margin-left: 13px;
    margin-top: -4px;
    margin-right: 125px;
}


#media{
    margin-left: 125px;
}


#wlus{
    margin-left: 125px;
}

#slack1{
    margin-left: 125px;
}

#red{
    margin-left: 125px;
}

#tum{
    margin-left: 125px;
}

#tik{
    margin-left: 125px;
}

/*table*/

#journal{
            width: 500px;
            margin: 0 auto;
            background-color: #778899;
            border-collapse: collapse;
            text-align: center;
            border: 5px double #ffc0cb;
           
}

#journal th{
            color: #fff0f5;
            font-size: 18px;
            font-family: monospace;
            background-color: #9400d3;
            border: 1px solid #dd00ad;
            padding: 10px;
    
}

#journal td{
            font-family: monospace;
            color: #fff0f5;
            border: 1px solid #a9a9a9;
            padding: 15px;
}
#journal tr:hover{
                  background-color: #dd00ad;
}

/*animation*/

#anim2{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: logo2;
    animation-duration: 4s;
    animation-delay: 2s;
    
}

@keyframes logo2{
    0%{background-color: #fffafa;left: 0px;top: 0px;}
    25%{background-color: #ffffff;left: 200px;top: 0px;}
    50%{background-color: #f8f8ff;left: 200px;top: 200px;}
    75%{background-color: #fffafa;left: 0px;top: 200px;}
    100%{background-color: #ffffff;left: 0px;top: 0px;}
}


#anim3{
     width: 400px;
    height: 400px;
    position: relative;
    animation-name: logo3;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: both;
    
    
}

@keyframes logo3{
    0%{background-color: #fffafa;left: 50px; right: 200px;}
    25%{background-color: #ffffff;left: 400px;right: 300px;}
    50%{background-color: #f8f8ff;left: 400px; right: 500px;}
    75%{background-color: #fffafa;left: 400px; right: 500px;}
    100%{background-color: #ffffff;left: 400px; right: 300px;}
}


.para6{
    font-family: monospace,sans-serif;
    font-size: 1.1em;
    color: #778899;
    text-align: center;
    
}